<h2>Craigslist</h2>

<ul>
  {{#each model as |category|}}
    {{category-tile category=category updateCategory="updateCategory" destroyCategory="destroyCategory"}}
  {{/each}}
</ul>

{{new-category saveCategory="saveCategory"}}
