<h2>Listings:</h2>

<ul>
  {{#each model as |listing|}}
    {{listing-tile listing=listing updateListing="updateListing" destroyListing="destroyListing"}}
  {{/each}}
</ul>

{{new-listing saveListing="saveListing"}}

{{#link-to 'index'}}Home{{/link-to}}
